[2017-03-30 20:28] dgant opened #1 "ExampleAIClient is referenced in the SLN but is not in the repository"
There's a reference to BWAPI's ExampleAIClient project, which is located outside the repository.

[2017-03-30 20:30] dgant opened #2 "What version of Visual Studio is supposed to open BWAPI4JBridge?"
Tried two:

### 2013:
Project appears to use a newer C++ compiler than shipped with 2013; opens but won't build.

"Error MSB8020 The build tools for v141 (Platform Toolset = 'v141') cannot be found. To build using the v141 build tools, please install v141 build tools."

### 2015
Crashes on open

A common file naming convention is MySolutionName.vs2013.sln as a hint as to the intended Visual Studio

[2017-04-03 15:49] OpenBW commented on #2
It's Visual Studio 2017 (community edition - free)

[2017-04-03 15:49] #2 closed

[2017-04-03 15:50] OpenBW commented on #1
ExampleAIClient is a sub module of the BWAPI repository and not required. It is removed now.

[2017-04-03 15:50] #1 closed

[2017-05-18 15:18] njustesen opened #3 "BWAPI + DeepLearning4J"
Hi. I heard that one of you managed to get DL4J working with a Java bot. I am currently stuck as DL4J requires 64-bit JVM and BWAPI 32-bit.. Any help is appreciated.

[2017-06-23 22:44] IMP-42 commented on #3
The integration is not done yet. We are currently adapting BWAPI4J to run with OpenBW. Unlike the original BWAPI + BW we can compile BWAPI4J + OpenBW as a 64bit application, hence it will be compatible with Deeplearning4J.

[2017-06-23 22:47] dgant commented on #3
@IMP-42 back a month ago @njustesen was looking on tips for integrating DL4J. Independent of BWAPI4J, I wanted to recommend he speak to you but didn't have a better suggestion for how to reach you :)

[2017-12-08 16:34] dgant opened #4 "Mutalisks can't morph into Devourers"
https://github.com/OpenBW/BWAPI4J/blob/master/BWAPI4J/src/main/java/org/openbw/bwapi4j/unit/Mutalisk.java#L15

[2017-12-19 21:42] nturley opened #5 "How to configure logging?"
So I was trying to use this with jython (which works great), and I'm getting totally spammed from console logging. I'm not too familiar with apache log4j. Can I configure it programmatically? Do I need to put a config file at a particular path?

[2017-12-19 22:14] dgant commented on #5
Jython? Neat :)

I believe log4j supports both approaches.

[2017-12-20 11:28] Venorcis opened #6 "WorkerUnit class (inc. build command for all)"
This abstract class would be useful for SCVs/Drones/Probes.
There is now inconsistency in all of them in e.g. the build command. SCVs use a TilePosition, Probes use a Position, and Drones don't have the command at all (whilst this is supported in BWAPI).

[2017-12-20 11:37] Venorcis opened #7 "Cannot create factories or starports"
The MachineShop and ControlTower have no methods to create a factory or starport add-on respectively

[2017-12-20 11:41] Venorcis opened #8 "Some unit interfaces are not public"
Like TrainingFacility and FlyingBuilding; I cannot do instanceof checks for those atm.

[2017-12-20 11:49] Venorcis opened #9 "Missing cancelConstruction for Buildings"

[2017-12-20 11:54] Venorcis opened #10 "Probe should use Assimilator for gather, not Refinery"

[2017-12-20 12:02] Venorcis opened #11 "No way to load units in bunker right now"
Neither Bunker nor MoveableUnit seems to some kind of load (nor unload) action. It would also be useful to get the loaded units from it (but this is a TODO in the code already).

P.S. Transporter should probably be an abstract class?

[2017-12-20 14:12] Venorcis commented on #7
Oops, was swapping two things around here, my apologies

[2017-12-20 14:12] #7 closed

[2017-12-20 14:25] Venorcis opened #12 "getUpgrade and getResearch in ResearchFacility"
It would be useful to not only be able to check íf the building is upgrading/researching but also what it is upgrading/researching

[2017-12-21 10:58] nturley commented on #5
I figured this out. My bwapi4j jar file had a config file that puts the BW class at trace level, so even if I configured the root logger to a different level I was still getting spammed by the BW class. Modifying the bwapi4j config file solved the problem.

[2017-12-21 10:58] #5 closed

[2017-12-30 11:23] Bytekeeper opened #13 "WeaponType has invalid damageType, upgradeType and explosionType"
They all get assigned "whatUses", ie. "Marine".

Please check
https://github.com/Bytekeeper/BWAPI4J/commit/9c3d4a46b9fc195186f354a57dd903074d3f0418

[2018-01-22 15:51] Bytekeeper opened #14 "BWEM can't find path between bases on (2)Benzene.scx"
The BWEM port can not find a path between the 2 bases in the SSCAIT map "(2)Benzene.scx".

[2018-02-04 17:21] Bytekeeper commented on #14
This part of the port is wrong: C++ multimap keys are sorted, whereas the ported map is just a HashMap with no ordering gurantees:
[code]

vs
[code]

[2018-02-04 18:11] Bytekeeper commented on #14
Also, the equals implementation of ChokePoint is not valid regarding the A*:
[code]
As equals returns "true" if 2 different ChokePoints connect the same Areas.

[2018-02-08 18:22] adakitesystems commented on #4
With much thanks and some small changes to @Bytekeeper's fix, this issue can be considered closed. It will remain open until merged into the main branch.

[2018-02-08 18:27] adakitesystems commented on #6
Good idea and thanks for the suggestion! @Bytekeeper's proposed solution in commit https://github.com/Bytekeeper/BWAPI4J/commit/3807f8e18e09f5d557be486c0cb04517f376dbd3 will most likely be used.

This issue can be considered closed but will remain open until merged into the main branch.

[2018-02-08 18:35] adakitesystems commented on #9
Thanks for the bug report. The proposed fix from @Bytekeeper's fork will most likely be used.

This issue can be considered closed but will remain open until the fix is merged into the main branch.

[2018-02-08 18:38] adakitesystems commented on #10
Nice catch. The proposed fix from @Bytekeeper's commit https://github.com/Bytekeeper/BWAPI4J/commit/d16ba178778722dd1cfd98a27db4de68a6ee8cc8 will most likely be used.

This issue can be considered closed but will remain open until the fix is merged into the main branch.

[2018-02-08 18:52] dgant commented on #10
I believe if you Mind Control an SCV, it can gather from your Assimilator. It may also be possible with teammates. If so, this poses an unnecessary restriction.

[2018-02-08 19:13] adakitesystems commented on #14
Thanks for looking into this.

As seen in the recently added test file [MultiMapPortTest.java](https://github.com/OpenBW/BWAPI4J/blob/49cb60ee7e1c1cdee966f36684d43c678c275d94/BWAPI4J/src/test/java/bwem/MultiMapPortTest.java), `ArrayListValuedHashMap` mimics C++ `std::multimap` whereas your implementation of `PriorityQueue<>(Comparator.comparingInt(a -> a.first));` does not according to the above t

[2018-02-08 19:40] adakitesystems commented on #10
Very good point, @dgant. I did not think of this. Correct me if I'm wrong, but I believe @Bytekeeper has either addressed this or *almost* addressed this in his proposed "Worker" commit by using the superclass `GasMiningFacility` in the method signatures instead of a specific subclass.

Commit: https://github.com/Bytekeeper/BWAPI4J/commit/3807f8e18e09f5d557be486c0cb04517f376dbd3#diff-117b390fdab6b

[2018-02-08 20:00] adakitesystems commented on #11
Thanks for the bug report. I'll look into this.

I like the idea of `Transporter` being an abstract class and also using it as a superclass for any unit/building that can load/unload units. E.g. `Bunker extends Transporter`. Perhaps the `Transporter` name is not well fit when referring to a unit that can load/unload units. This class should be renamed, IMO.

[2018-02-08 20:11] dgant commented on #11
Commenting very hastily without inspecting whether it's already feasible:
It should be both possible to order all of the following:
- Unit clicks transport
- Transport clicks unit
- Transport unloads at position
- Transport unloads specific unit (clicking portrait)
- Transport unloads all units (targeting self)
as these have different behaviors in-game. For example, with reaver/shuttle you most fr

[2018-02-08 20:31] Bytekeeper commented on #14
1) ```ArrayListValuedHashMap```: "Implements a ListValuedMap, using a HashMap to provide data storage and ArrayLists as value collections" - as you can see keys are not sorted, which is required for A*
Whereas ```std::multimap```: "Internally, the elements in a multimap are always sorted by its key following a specific strict weak ordering criterion indicated by its internal comparison object (of

[2018-02-08 20:46] Bytekeeper commented on #14
2. I'm sorry, I did not check any further as to getting a path :)
I added a test: https://github.com/Bytekeeper/BWAPI4J/commit/18412cc574c7decc72ef7249e5886011f050d630 that shows the problem with ArrayListValuedHashMap.

[2018-02-08 22:04] adakitesystems opened #16 "Extra node in paths returned from method "CPPath Graph.GetPath""
Sometimes, the returned `CPPath` container contains an extra node. This issue is not present in the original C++ BWEM.

As seen in this code snippet from [Graph.java:190](https://github.com/OpenBW/BWAPI4J/blob/master/BWAPI4J/src/main/java/bwem/Graph.java#L190-L279) ...
[code]
... `Graph.GetPath` is merely a regurgitating method. This means the issue with a suboptimal path could be in data calculat

[2018-02-08 22:08] adakitesystems commented on #14
Confirmed. `ArrayListValuedHashMap` is the wrong choice to replace `std::multimap`. As pointed out by @Bytekeeper, one observable case of `ArrayListValuedHashMap` not sorting keys is when the count of the container reaches 2^16 objects.

I consider the issue of BWEM not finding a path between the bases on Benzene as resolved thanks to @Bytekeeper's commits.

The "extra node" node issue has been op

[2018-02-09 00:27] adakitesystems commented on #11
I agree with a lot of points made by @dgant in the above post.

I agree and disagree with this. I wrote a few hundred words outlining some valid arguments both for and against a restrictive-like approach for BWAPI4J but decided to scrap it. A simplified version of my opinion on this matter is that a restrictive API is better than allowing a developer to call whichever function they want. I do agre

[2018-02-09 14:42] Bytekeeper commented on #16
The Area "Distance" algorithm had the same problem an was returning strange distances for the ChokePoint pathing. This is how it looks on my branch now:
https://imgur.com/0l7cTMz

[2018-02-09 16:46] adakitesystems commented on #16
Excellent work! Thanks! I have only tested a few different paths manually but your fix seems to resolve the issue and it's a much needed fix regardless. I'll see what I can do for setting up automated tests for comparing path results against the original C++ BWEM.

[2018-02-25 11:26] adakitesystems commented on #4
A fix has been merged into branch `master`.

[2018-02-25 11:26] #4 closed

[2018-02-25 11:27] adakitesystems commented on #6
Merged.

[2018-02-25 11:27] #6 closed

[2018-02-25 11:27] adakitesystems commented on #8
Merged.

[2018-02-25 11:27] #8 closed

[2018-02-25 11:27] adakitesystems commented on #9
Merged.

[2018-02-25 11:27] #9 closed

[2018-02-25 11:27] adakitesystems commented on #10
Merged.

[2018-02-25 11:27] #10 closed

[2018-02-25 11:28] adakitesystems commented on #14
Merged.

[2018-02-25 11:28] #14 closed

[2018-02-25 11:30] #16 closed

[2018-02-25 11:45] Bytekeeper commented on #13
This should also be fixed now.

[2018-02-25 11:45] #13 closed

[2018-02-25 11:47] Bytekeeper commented on #12
This is fixed, you can call ```Researcher.getUpgradeInProgress``` and ```Researcher.getResearchInProgress```.

[2018-02-25 12:15] adakitesystems commented on #11
You should be able to use the method `PlayerUnit.rightClick(Unit)` where the `PlayerUnit` is a marine and the `Unit` is the bunker.

But you are correct. The load command should be added to the `Bunker` class. I will also look into refactoring the `Transporter` class to be an interface or abstract class of some kind.

[2018-02-25 14:38] adakitesystems commented on #11
Added commit https://github.com/OpenBW/BWAPI4J/commit/1cf699da65d521679b781830b355d0237d8ec046

[2018-02-26 08:03] adakitesystems commented on #12
Thanks @Venorcis for the feature request and @Bytekeeper for implementing it.

[2018-02-26 08:03] #12 closed

[2018-02-27 16:43] adakitesystems opened #17 "No way to read GameType"
As per @JasperGeurtz on Discord:

The original command is `GameImpl.cpp:82:GameImpl::getGameType()`.

[2018-02-27 16:44] adakitesystems opened #18 "Missing UnitType.buildsWhat()"
As noted by @JasperGeurtz on Discord.

[2018-02-28 14:15] #17 closed

[2018-02-28 15:26] JasperGeurtz commented on #18
Also **researchesWhat** and **upgradesWhat**
see: https://github.com/bwapi/bwapi/issues/460

[2018-02-28 15:39] JasperGeurtz opened #19 "Missing getRandomSeed()"
Added since 4.2.0
https://bwapi.github.io/class_b_w_a_p_i_1_1_game.html#a203db548df086effe61557253a05104a

[2018-02-28 16:29] JasperGeurtz opened #20 "BWTA.getRegion returning null for some (valid) tilePositions"
Example code (Map: (2)Destination.scx)
[code]
Output excerpt
[code]

[2018-02-28 16:56] dgant commented on #20
This may be expected behavior for BWTA. I don't if it's guaranteed that every tile gets a region.

[2018-02-28 17:22] JasperGeurtz commented on #20
Using bwmirror gave the same nulls, thank you @dgant

[2018-02-28 17:22] #20 closed

[2018-02-28 19:30] #18 closed

[2018-02-28 20:04] Bytekeeper opened #21 "getLastCommandFrame() and getLastCommand()"
As noted by @Yegers on Discord.

[2018-02-28 21:03] #21 closed

[2018-03-01 04:58] #19 closed

[2018-03-04 12:34] adakitesystems opened #22 "No way to check if the game is paused"
It's probably fairly straight-forward to implement using JNI, but I wonder if there is a way to check this condition without JNI. One use case for `isPaused` is to be used with manually tracking the frame number by incrementing it in the `onFrame` callback because the frame number does not change when the game is paused. If this is achievable, we can remove the dependency of calling the two JNI ca

[2018-03-04 15:42] dgant commented on #22
You get pretty close by, in your onFrame handler, checking whether the current frame count is the same as it was last frame. This leads to the first frame of paused-ness being treated normally, then future consecutive frames of paused-ness being treated as such.

[2018-03-04 16:28] Bytekeeper commented on #22
Alternatively we could just add ```isPaused``` in the data array that is passed and use the ```update``` method in ```InteractionHandler```.

[2018-03-04 16:41] adakitesystems commented on #22
How do you check whether the current frame is the same as the last frame? Do you not have to call `getFPSCount or a similar function?

Good idea.

[2018-03-04 17:01] #22 closed

[2018-03-04 18:31] dgant commented on #22
The frame count, not the FPS. We already have that: https://github.com/OpenBW/BWAPI4J/blob/master/BWAPI4J/src/main/java/org/openbw/bwapi4j/BW.java#L41 :smile:

[2018-03-04 20:02] Bytekeeper opened #23 "BWEM port pathing issues"
Andromeda: Path error: startPosition=[1902, 1462], endPosition=[3163, 1124], pathLength=1293

[2018-03-04 20:09] adakitesystems commented on #23
Errors are **not** present when **not** reading the path length;
Example from ChokePointTest.java:
[code]

vs
[code]

[2018-03-04 21:00] adakitesystems commented on #23
Excellent job! The issue seems to be fixed with commit c4678ec. I will keep testing.

[2018-03-08 10:30] Jabbo16 opened #25 "UnitType stats dont get updated depending on Player upgrades and researches"
Original BWAPI PlayerInterface allows to get current UnitType stats like armor or damage depending on that player upgrades, researches and Race.

Current bwapi methods affected are:

- Player.topSpeed(UnitType) -> moved to UnitType.topSpeed() in bwapi4j
- Player.armor(UnitType) -> moved to UnitType.armor() in bwapi4j
- Player.damage(UnitType) -> moved to UnitType.damage() in bwapi4j
- Player.weapo

[2018-03-08 10:37] adakitesystems commented on #25
Thanks for the report.

It looks like all the data is already being cached in BWAPI4J but just needs getters. An example of the original is:
[code]

The `getUpgradeLevel` method is already in class `Player`. So, it appears just the methods may need to be added for the dynamic similar to how it is in C++ BWAPI.

[2018-03-08 10:55] adakitesystems commented on #11
Before this issue is closed, I think `Loadable` needs to be refactored further. A better name might be `Loader`. The difference becomes apparent when talking about a `Marine` and a `Bunker`. Marines can be loaded (Loadable) into a Bunker (Loader). With these separate interfaces, the "load/unload/unloadAll" might be easier to implement and use.

[2018-03-09 11:29] #25 closed

[2018-03-09 15:20] Bytekeeper commented on #25
@adakitesystems Wouldn't it be better to the `PlayerUnit` etc. methods return the correct value? Ie. `PlayerUnit.topSpeed()` - and if someone wants the "original" value, he can query it directly from `UnitType`.
This would keep the Player API cleaner.

[2018-03-10 11:42] adakitesystems commented on #25
Pull request #26 has been opened to address @Bytekeeper's comment.

[2018-03-10 21:04] Bytekeeper opened #27 "Base location problem with BWEM"
Some locations BWEM determines to be base location can't be build on.
For example [7,6] on Andromeda is reported as possible base location, but BWAPI's `canBuildHere` reports false.

[2018-03-11 00:07] adakitesystems commented on #27
I am not experiencing this issue on Andromeda with TilePosition [7,6]. I have tested this location with both `Terran_Command_Center` and `Zerg_Hatchery`. TilePosition [7,6] is the correct base location as well as a start location in BWEM, `canBuildHere` returns true for me and false when a building is already there. Please double-check and give exact steps to reproduce the issue.

However, I did n

[2018-03-11 09:42] Bytekeeper commented on #27
Yeah, I guess I pasted the wrong position.
Here's a dump:
[code]

[2018-03-11 09:43] Bytekeeper commented on #27
Creepy, canBuildHere changes after a restart:
[code]

[2018-03-11 09:50] Bytekeeper commented on #27
Now that was stupid. [7,6] is a start position and my bot happend to start there. I thought I had filtered those out. Seem that didn't work :)

[2018-03-11 09:50] #27 closed

[2018-03-16 10:06] michalsustr opened #30 "Missing Game::getScreenSize"
InteractionHandler has `getScreenPosition` but `getScreenSize` is missing - this would be an issue with OpenBW which can change size dynamically.

[2018-04-05 05:44] adakitesystems opened #33 "Missing Game::setFrameSkip(int)"
Implement if possible. This feature is a useful fps performance increase.

[2018-04-09 18:57] JasperGeurtz opened #34 "Missing maxHitPoints and maxShields in PlayerUnit"
<strike>
    target.getInitialHitPoints();
returns 0 for enemy units (this might be logical but feels weird)

Also
</strike>

    target.getHitPoints() + target.getShields();
are accessible but

    target.maxHitPoints() + target.maxShields();

can only be accessed via UnitType which can't be extracted via a PlayerUnit, so these methods should probably also be part of PlayerUnit (or make getUnitTy

[2018-04-09 19:24] dgant commented on #34
Does getInitialHitPoints work differently in BWAPI?

[2018-04-09 19:41] JasperGeurtz commented on #34
Have not tested it
https://bwapi.github.io/class_b_w_a_p_i_1_1_unit_interface.html#a7190e23748c4b7d694c5237a5b94293a
Mentions that the value should be 0  if this unit was not a neutral unit at the beginning of the game.

While
[code]
returns
[code]
Enemy units get an initialHitPoints of 0

[2018-04-09 19:44] JasperGeurtz commented on #34
Hmmm, nevermind, it only seems that the starting units from get an initialHitPoints, maybe they count as neutral at the start?

Still the most important thing is that maxHitPoints and maxShields are not available from a PlayerUnit

[2018-04-11 18:02] adakitesystems commented on #34
I don't understand. `PlayerUnit.getHitPoints()` and `PlayerUnit.maxHitPoints()` are both public methods of `PlayerUnit` as seen in [PlayerUnit.java](https://github.com/OpenBW/BWAPI4J/blob/master/BWAPI4J/src/main/java/org/openbw/bwapi4j/unit/PlayerUnit.java#L188-L196) The following code works for me:
[code]
Please clarify the issue.

[2018-04-11 18:10] #34 closed

[2018-04-11 18:13] adakitesystems commented on #34
Thank you for reporting the missing method @JasperGeurtz. Please re-open if this did not resolve the issue.

[2018-04-13 01:46] #33 closed

[2018-04-16 07:53] adakitesystems commented on #11
I have reconsidered refactoring `Loadable`. If it is needed, it will be done at a later time.

[2018-04-16 07:53] #11 closed

[2018-04-16 09:23] Venorcis opened #35 "getAirWeapon### and getGroundWeapon### in PlayerUnit"
Those functions are protected right now, but should be public? This seems to apply to all functions that use the getUnitStatCalculator

[2018-04-16 09:26] Venorcis commented on #11
Getting the units that are loaded into a Transporter (or Bunker) still seems impossible though

[2018-04-17 04:43] adakitesystems commented on #35
Marking the `UnitStatCalculator`-related getters as protected in `PlayerUnit` is intentional. The rationale for this is to **remove** the visibility of specific getters from individual units such as a `Corsair` not having a ground weapon and a `Siege Tank` not having an air weapon. Thus, currently `corsair.getGroundWeapon###()` and `siegeTank.getAirWeapon###()` are not possible but `corsair.getAir

[2018-04-17 07:11] Venorcis commented on #35
Thanks for the quick reply. For my implementation, it would be a real hassle if such functions are not available on a more abstract level. I'd have to make huge lists of checking for specific kinds of units, for which I'd then rather even use introspection on the PlayerUnit class to make the function that is there anyway available. I do not see a big issue with such functions returning 0 for unit'

[2018-04-19 11:14] adakitesystems commented on #35
The public getters in `PlayerUnit` should've been marked as protected and then exposed via the appropriate subclasses. Which means they will probably be marked as protected in a future commit.

As for your request for BWAPI4J to be more abstract implementation friendly, @dgant has also pushed for such behavior. One of BWAPI4J's initial goals was to provide a type-safe API and possibly have the pro

[2018-04-19 11:18] Venorcis commented on #35
Thanks for the explanation, clear!

[2018-04-22 15:13] Jabbo16 opened #36 "Building Javadoc fails using Gradle"
Tried to build it using `./gradlew shadowJar sourcesJar javadocJar` , both the `shadowJar` and the `sourcesJar` gets built correctly but the `javadocJar` fails because of incorrect syntax when building it.

Attached full debug log of `javadocJar` task:

[log.txt](https://github.com/OpenBW/BWAPI4J/files/1935735/log.txt)

[2018-04-22 16:45] adakitesystems commented on #36
Thanks for the bug report.

I think a lot of the Gradle tasks do not execute successfully such as `build` and `test`. We will work on them soon.

[2018-04-22 16:48] adakitesystems commented on #36
P.S. The `./gradlew clean shadowJar` should create a full library JAR similar to BWMirror. When compiled with your bot, the dependencies should auto-extract.

[2018-04-24 12:49] #30 closed

[2018-04-24 13:04] adakitesystems commented on #30
I apologize for taking so long to add this.

On a side note: this function will only work when using OpenBW's version of BWAPI.

[2018-05-04 20:56] Bytekeeper opened #37 "Error codes should be available immediately"
Issuing a command will not update the error code immediately, since it's only updated once per frame.
Either we should throw `Exceptions` if an error occurs, or return the error code or update the interaction handler error code immediately.

[2018-05-12 17:22] Jabbo16 opened #38 "Players incorrectly being reported as observers in BWAPI 4.2.0 clients"
This code called at `onStart()` while running a Melee game mode match:
[code]

Returns all players as being observers:

[code]

The only `Player` that should be observer is `Neutral`.

[2018-05-12 17:29] adakitesystems commented on #38
Confirmed. However, in Linux + OpenBW + BWAPI4J, these players are not reported as observers. I suspect something to do with the bridge for Windows. Looking into recompiling the bridge. The values seem to be getting set correctly:
[code]
and
[code]

[2018-05-12 17:58] adakitesystems commented on #38
Update:
- Recompiling the bridge for Windows did not resolve the issue.
- As a manual debug test, changing `intBuf[index++] = player->isObserver() ? 1 : 0;` to `intBuf[index++] = player->isObserver() ? 0 : 0;` in the Windows bridge resulted in the players being correctly reported as `isObserver() == false`.
- Somehow, the Windows bridge is reporting the incorrect value but the Linux bridge appears

[2018-05-12 18:10] Jabbo16 commented on #38
Shouldnt the code be:

`intBuf[index++] = player->isObserver() == 1 ? 1 : 0`

C++ Api `isObserver()` method return `1` if observer and '0` if not.

[2018-05-12 18:52] adakitesystems commented on #38
`PlayerInterface.isObserver()` in C++ is a bool function. That is the correct syntax. Even if it wasn't a bool, that is still valid syntax. I tried with `== 1` anyway and observed the same incorrect behavior.
![bool](https://user-images.githubusercontent.com/22711643/39960580-83b2ef08-55e2-11e8-971c-3285bddef663.png)

[2018-05-12 18:55] Jabbo16 commented on #38
Ok, then forget what I said.

What a weird behaviour.

[2018-05-12 19:54] adakitesystems commented on #38
Using a completely separate C++ BWAPI 4.2.0 client project with no Java, I am getting the same incorrect behavior with the client version but not with the module version. @Jabbo16, can you verify this as well, please?

[2018-05-12 20:01] Jabbo16 commented on #38
I checked module before and got correct behaviour, both players reported as not observers, just the Neutral player as observer.

[2018-05-12 20:49] adakitesystems commented on #38
Yes, it looks like a BWAPI client bug that is present in 4.2.0, 4.1.2, and maybe other versions. The module appears unaffected. If/when it gets fixed, someone (if I'm not around) should use the updated BWAPI libs to recompile the bridge and then close this issue.

[2018-05-12 22:45] adakitesystems opened #39 "Consider not including binary dependencies in main repo"
Every time a change to the bridge is made, both the Windows and Linux bridges need to be updated for consistency. If a library is recompiled or changed, the static library files need to be updated. These binary files are large and pollute the source directory. I would like to consider excluding all binary dependencies from the repo once we have an official version release which is packaged with al

[2018-05-13 21:02] Jabbo16 opened #40 "Lacking support for gamemodes with more than 2 players"
Hi, I noticed that currently there is no support for handling gamemodes with more than 2 players. One example is FFA where there are multiple enemies.

`InteractionHandler` lacks the methods `allies()` and `enemies()` present in BWAPI `Game` class.

[2018-05-14 05:43] #40 closed

[2018-05-14 05:48] adakitesystems commented on #40
Thanks for the bug report. I have implemented and tested the requested methods:
[code]
Please re-open if there is still an issue.

**Note:** These are pure JNI methods with no caching. I am undecided on whether or not these should be cached since allies and enemies can dynamically change throughout the game and may not require caching optimization due to their invocation rarity. Feel free to prote

[2018-05-14 05:54] Jabbo16 commented on #40
Thanks for the fix.

I only use them one time at the start of the game to build my own data structures regarding players so atleast for me its fine if they are not cached.

[2018-05-14 15:56] adakitesystems commented on #40
@Bytekeeper, that's a valid argument and is also a design decision that can be discussed which is not just related to the allies and enemies methods: Do we cache almost every value possible every frame or only the most important values? I do not know if C++ pushing to Java every frame is faster/slower/equal (or by how much) compared to Java requesting from C++ less often (i.e. not every frame). If

[2018-05-14 20:26] adakitesystems commented on #39
Update: We will most likely remove binaries from the repo and provide them via distribution packages on the releases page starting with v0.8.

[2018-05-14 20:26] #39 closed

[2018-05-16 10:11] Jabbo16 opened #41 "GetEnergy() doesnt work for ComsatStation units"
Trying to get the current energy a ComsatStation has with the method `getEnergy()` always returns `0`.

Tried with the following code:

[code]

Output when the player has finished building a ComsatStation is:

`Comsat with energy: 0`

The output remains the same even with the energy starting at 50 and increasing every few frames.

[2018-05-16 13:55] #41 closed

[2018-05-22 18:34] Bytekeeper opened #42 "Building.getBuildUnit should not report an error if the unit is not an SCV"
For addons at least, it is the attached building and not a SCV.

[2018-05-22 19:39] adakitesystems commented on #42
We can ask @IMP-42 to verify this, but I believe the user is supposed to use `Addon#getMainBuilding()` instead of `Building#getBuildUnit()` and thus, this not a bug but product of strict typesafety design.

[2018-05-23 14:27] Bytekeeper commented on #42
`Buildunit` should represent the unit "building it" or "what is this unit building" according to BWAPI. So for addons I think it should return the main building

[2018-05-23 16:41] #42 closed

[2018-06-01 21:29] adakitesystems opened #43 "Clarify cooldown function names"
* The method `weaponDamageCooldown` should be renamed to `weaponDamageMaxCooldown` in the `UnitStatCalculator`. Its current name is misleading. The method returns the max cooldown where it should return the current cooldown.
* A method to return the current cooldown should be added to the `UnitStatCalculator`.

It's a relatively easy fix but I am unable to complete it at the moment. This issue is

[2018-06-02 18:04] #43 closed

[2018-06-20 03:19] adakitesystems opened #45 "Internal cache objects"
Inspired by comments made by @MasterFocus and @dgant on Discord, I would like to discuss caching all possible "computed" objects/lists such as [BW#getUnits(Player)](https://github.com/OpenBW/BWAPI4J/blob/master/BWAPI4J/src/main/java/org/openbw/bwapi4j/BW.java#L616-L625).

Example idea from @dgant's PurpleWave bot repo: https://github.com/dgant/PurpleWave/blob/master/src/Performance/Cache.scala

Po

[2018-06-20 03:55] MasterFocus commented on #45
This is what I meant:
[code]
Or if we wanted to keep them stored as Units:
[code]
Supposedly, this allows us to rewrite `getUnits(Player player)` as:
[code]
(please note this is untested and should be checked for mutability and possible NPEs as well)

The mere fact of doing this and populating the map before `onFrame()` should probably be enough to speed up multiple calls of `getUnits(Player)`.

[2018-06-21 18:56] MasterFocus opened #47 "Medic healing"
As per discussed on Discord:
- The `healing` method is confusing and perhaps could be renamed to `healUnit`, as it would express the intent of the method more crearly
- Perhaps there should be a method called `healMove` as well, which is basically the equivalent of ordering a Medic to "_attack_" a certain **position**

[2018-06-21 19:13] adakitesystems commented on #47
Thanks for bug report, @MasterFocus. I added and tested the missing methods. The `healing` method has been renamed to `heal`. I like the name `healUnit` better, but we have `attack` and not `attackUnit`.

[2018-06-21 19:13] #47 closed

[2018-06-21 19:13] MasterFocus commented on #47
For documentation purposes:

We initially agreed to use `AttackMove`:
`return issueCommand(this.id, Attack_Move, -1, position.getX(), position.getY(), queued ? 1 : 0);`

According to @adakitesystems:
- The following also works: `return issueCommand(this.id, Use_Tech_Position, -1, position.getX(), position.getY(), Healing.getId());`
- In both cases , `getOrder()` returns `Order.HealMove` while the

[2018-06-24 03:53] adakitesystems commented on #45
Closed with Pull Request https://github.com/OpenBW/BWAPI4J/pull/46

[2018-06-24 03:53] #45 closed

[2018-07-24 02:36] adakitesystems opened #48 "Mark static members as final"
Mostly a minor change but as pointed out by [@MasterFocus](https://github.com/MasterFocus) on BWAPI4J's Discord, there are several static members that should be final.

Example: https://github.com/OpenBW/BWAPI4J/blob/f758e8d1e83200ddd57c2d840fe2444178045165/BWAPI4J/src/main/java/org/openbw/bwapi4j/InteractionHandler.java#L42-L61

*Note specific to static indices: Refactoring these indices as an en

[2018-07-26 14:15] adakitesystems opened #49 "Refactor "Building#getLastKnown..." methods"
Example: https://github.com/OpenBW/BWAPI4J/blob/4ee22b569281cf3315ac3e9659449c64d0833f51/BWAPI4J/src/main/java/org/openbw/bwapi4j/unit/Building.java#L81-L165

[2018-07-26 18:36] adakitesystems commented on #49
I added [BuildingTest](https://github.com/OpenBW/BWAPI4J/blob/774092fe3a9e0de1355ad1a3d10804b6f0dffbd5/BWAPI4J/src/test/java/org/openbw/bwapi4j/unit/BuildingTest.java) to help with refactoring. Any is welcome to refactor these methods.

[2018-08-04 19:04] #48 closed

[2018-08-05 19:23] adakitesystems opened #51 "VsDevCmd for VS2017"
If a user's local installation of VS2017 is not the Community version (i.e. Enterprise or Professional), the provided `VsDevCmd.bat` will fail due to an incorrect path to the system's `VsDevCmd.bat`.

An attempt to resolve the path programmatically was made in commit https://github.com/OpenBW/BWAPI4J/commit/af02f9f27614413340083bee0ded95d6ba147462 but [failed on AppVeyor](https://ci.appveyor.com/p

[2018-08-08 15:19] adakitesystems opened #52 "Unable to run consecutive games without stopping process"
The bot will slowly degrade more and more if the bot process is not closed after each game.

[2018-08-09 13:03] Jabbo16 commented on #51
Testing a bit I discovered the reason why its failing to find it.

The proper Appveyor location its `C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat`, but (getProgramFilesDirectory())[https://github.com/OpenBW/BWAPI4J/blob/af02f9f27614413340083bee0ded95d6ba147462/BWAPI4J/build.gradle#L240] its returning the non x86 path instead.

I managed to fix it by dete

[2018-08-09 18:59] adakitesystems commented on #51
Excellent debugging skills! I will try this out later. Thanks!

I have a Win7 32-bit install and every VS version was installed to `C:\Program Files` except for the `C:\Program Files (x86)\Microsoft Visual Studio 14.0` runtime package.

The mentioned commit af02f9f worked on my system where my path is `C:\Program Files\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat`.

[2018-08-09 19:37] Jabbo16 commented on #51
Oh right my bad, too used to 64bits OSs.

Then maybe another fix could be checking first the non x86 path and if not found test then the x86 one.

[2018-08-10 05:18] adakitesystems opened #53 "Predicates for ambiguous check methods"
@dgant has mentioned how ambiguous `can` methods can be. Quoting from Discord:

can this SCV build a Barracks at X,Y?
...do you mean now, or when i get the money?
...do you mean if there's no units standing at X, Y?
...do you mean if the SCV has a path to X, Y?
...do you mean once the tech to build it becomes available?

Maybe it would  be beneficial to create some type of predicate data structure

[2018-08-10 06:15] adakitesystems commented on #52
After more testing, I believe this is an issue with the actual bot and not BWAPI4J.

[2018-08-10 07:25] adakitesystems commented on #51
That fix worked. Very nice! Thanks again!

[2018-08-10 17:51] Bytekeeper commented on #53
Why not invert it and provide utility filters? Either by methods or by `java.util.function.Predicate`s:

Instead of `canBuild(myUnitType, SUFFICIENT_...)` it'd be:
`hasResources.and(hasTech).and(canBuildAt(10,10)).and(canMakeMeASandwich).test(myUnitType)`
Since `Predicate` also has `or` and `negate` it should suffice.

[2018-08-10 18:17] adakitesystems commented on #53
hasResources.and(hasTech).and(canBuildAt(10,10)).and(canMakeMeASandwich).test(myUnitType)

That's a good idea too. But, how does `hasResources` work? Unless I'm misunderstanding, I assume it would have to be `hasResourcesFor(UnitType.Terran_Siege_Tank)` maybe? Then it might start to get annoying having to type the same thing over and over. For example `hasResourcesFor(UnitType.Terran_Siege_Tank).a

[2018-08-10 20:37] adakitesystems opened #55 "Add option to disable OpenBW UI from the bot"
After OpenBW has been compiled with UI, I think it is possible for the module to disable the UI by calling a (static or global ?) function such as `enableUI(false);` or something similar. If it is possible, BWAPI4J should provide some way to call that code.

*Note: I am not referring to disabling the UI by passing a runtime argument to* `BWAPILauncher`*.*

[2018-08-10 20:47] dgant commented on #55
"The UI can be disabled either by setting environment variable OPENBW_ENABLE_UI=0 or calling Broodwar->setGUI(false)."

[2018-08-10 20:48] adakitesystems commented on #55
Thanks, @dgant!

[2018-08-11 04:04] muandrew commented on #49
@adakitesystems I can take this one.

Just curious, do you know why the calculation for distance between TilePosition, Position is using Double math while Unit is using approximation? I can leave the behavior the same but it doesn't look intentional for the math to be different.

[2018-08-11 04:06] adakitesystems commented on #49
Thanks, @muandrew!

I have no idea. Pinging @IMP-42 for clarification.

[2018-08-11 04:09] adakitesystems commented on #49
@muandrew, ByteKeeper and I found a couple bugs with the angle calculations. So, if you find math to be wrong somewhere and you can explain the problem and/or fix it, please do so. Thanks again.

[2018-08-12 08:37] muandrew commented on #49
It isn't a problem with the math per-say but the consistency of what's being calculated.
Like mentioned above, some distances are calculated with the normal euclidian distance math d = sqrt(x^2 + y^2) but some distances are approximate distances which makes the calculation faster but not as accurate. Alternatively I can create methods for both types, like getDistance and getApproximateDistance. Bo

[2018-08-12 09:11] JasperGeurtz commented on #49
Approximate distance is what Broodwar uses internally. This should be preferred in most cases

[2018-08-14 14:44] Jabbo16 opened #57 "Can't irradiate mechanical units"
Ingame you can use the `Science Vessel` ability `Irradiate` on mechanical units like a `Siege Tank`, but the method provided by bwapi4j to irradiate needs `Organic` as a parameter:

`ScienceVessel.irradiate(Organic unit)`.

Using `Organic` its also wrong because you cant irradiate some units that implement this class, for example some zerg buildings.

Also a `Science Vessel` cannot irradiate itsel

[2018-08-14 14:48] adakitesystems commented on #57
Thanks for the bug report, @Jabbo16!

I disagree with this check. Unless we want to do similar checks everywhere else like `selfUnit.attack(selfUnit)` or `selfVessel.defenseMatrix(selfVessel)` etc.

[2018-08-14 15:42] #57 closed

[2018-08-14 15:44] #55 closed

[2018-08-14 15:44] #51 closed

[2018-08-16 20:41] JasperGeurtz opened #59 "Missing BWMap#hasCreep"
The BWMap class misses the hasCreep method

**Reference**

https://bwapi.github.io/class_b_w_a_p_i_1_1_game.html#a85f379c37397eed83707f3c278beef53

https://github.com/vjurenka/BWMirror/blob/0ef223f4dc3eae7a06f80a5914f76d8b9365744f/api/bwapi/Game.java#L248

[2018-08-16 20:59] JasperGeurtz opened #60 "Missing BW#getNukeDots"
The BW class misses the getNukeDots method

**Reference**
https://github.com/vjurenka/BWMirror/blob/0ef223f4dc3eae7a06f80a5914f76d8b9365744f/api/bwapi/Game.java#L52

https://bwapi.github.io/class_b_w_a_p_i_1_1_game.html#a76dc1ca27b5d53ff24daacf5b1af3366

How can anyone beat @N00byEdge otherwise!

[2018-08-16 22:08] #59 closed

[2018-08-16 22:26] #60 closed

[2018-08-18 05:36] Bytekeeper opened #62 "Catch "Throwable" and not "Exception" in `onStart` and `onFame`"
Also: `onEnd` should also catch a potential exception.

Runtime exceptions/errors like StackOverflow are falling through currently. The bot will continue to run without printing any erros (the native code doesn't care for java exceptions), therefore we should try to catch all in the entry point methods and log it.

[2018-08-18 06:39] #62 closed

[2018-08-19 17:23] MasterFocus opened #64 "Refactor filtering methods as we now have Cache"
There are functions like `filterNeutralPlayerUnits` and `filterPlayerUnits` (and possibly others?) which should be looked at because we now cache all units.

[2018-08-19 17:52] MasterFocus commented on #64
As discussed on Discord, the implementation of those actually look fine.
Both are O(n) and are useful when the input collection is **not** the collection of **all units** (which is cached).

The actual usage of those methods seems to be here:
https://github.com/OpenBW/BWAPI4J/blob/develop/BWAPI4J/src/main/java/bwem/map/MapInitializerImpl.java#L89

This is ultimately using `bw.getAllUnits()` as inp

[2018-08-19 17:52] #64 closed

[2018-08-21 21:19] adakitesystems commented on #49
This issue has been resolved thanks to @muandrew.

[2018-08-21 21:19] #49 closed

[2018-08-21 21:25] adakitesystems commented on #38
This issue has been fixed in the `develop` branch of C++ BWAPI. When an official version is released with this fix, the BWAPI4JBridge just needs to update to the new BWAPI version and recompile the bridge. Then, this issue can be closed.

[2018-08-23 19:42] JasperGeurtz opened #67 "Missing Game#setScreenPosition"
Useful for debugging

[code]
https://github.com/vjurenka/BWMirror/blob/8f8882f7b0166ba73a5e33a48e241231926fa758/api/bwapi/Game.java#L116

[2018-08-23 20:04] #67 closed

[2018-08-23 20:07] adakitesystems commented on #67
This commit doesn't fully fix it. The modified bridge code was not included in this commit. The next commit does.

[2018-08-24 04:24] adakitesystems opened #68 "Do not manually manage the frame count"
I highly suspect this is wrong:
https://github.com/OpenBW/BWAPI4J/blob/8d4e6d6846b4aa8e64db57901de92971d719032a/BWAPI4J/src/main/java/org/openbw/bwapi4j/BW.java#L747
https://github.com/OpenBW/BWAPI4J/blob/8d4e6d6846b4aa8e64db57901de92971d719032a/BWAPI4J/src/main/java/org/openbw/bwapi4j/BW.java#L705

We cannot manually handle the frame count because the frame count stays the same during a pause and

[2018-08-24 06:15] JasperGeurtz commented on #68
For the similar reasons I think
[code]
shouldn't be updated in UnitImpl.issueCommand
because this might create unexpected behaviour (especially with LatCom disabled)

https://github.com/OpenBW/BWAPI4J/blob/d25006361d97c09052961c81e933e48401f48ee6/BWAPI4J/src/main/java/org/openbw/bwapi4j/unit/UnitImpl.java#L517

[2018-08-24 06:34] #68 closed

[2018-08-24 06:35] adakitesystems commented on #68
I think this is a different issue? Or is everything "fixed" now?

[2018-08-24 07:29] JasperGeurtz commented on #68
Different issue yeah

[2018-08-24 07:36] adakitesystems commented on #68
Ah yes I see now. Thanks for mentioning this.

[2018-08-24 07:43] adakitesystems opened #69 "Probable inaccuracy with "getLastCommand" and "getLastCommandFrame""
As per ~~@Jabbo16~~ @JasperGeurtz's reply in https://github.com/OpenBW/BWAPI4J/issues/68, there is a probable inaccuracy with `Unit#getLastCommand` and `Unit#getLastCommandFrame`. I suggest we update the `lastCommandXXXX` fields from the C++ BWAPI side into Java every time an issue command is invoked.

Does anyone have any concerns about this?

Edit: Sorry for the mix up in names, @JasperGeurtz!

[2018-08-24 07:45] Jabbo16 commented on #69
It was actually @JasperGeurtz the one that discovered the inaccuracy

[2018-08-24 07:47] JasperGeurtz commented on #69
In fact they already are

[code]

So they shouldn't be updated during the frame IMHO

[2018-08-24 07:51] adakitesystems commented on #69
I agree, @JasperGeurtz. That value will be updated depending on if a command is successful as seen here: https://github.com/bwapi/bwapi/blob/59b14af21b3c881ce06af8b1ea1d63fa3c8b2df0/bwapi/BWAPIClient/Source/UnitImpl.cpp#L20-L64

[2018-08-24 08:05] adakitesystems commented on #69
Even better might be to return a small int array of values every time a command is issued instead of the current `boolean` return value. The int array would contain the following:
1. `0=false` or `1=true` depending if the command was sent successfully
2. type ID of the last command type (or the entire command with full details)
3. last command frame

[2018-08-24 08:13] JasperGeurtz commented on #69
I'm not a fan, returning an array is not OOP/code smell, and it makes the method needlessly complex.
Forcing the caller to parse the array for success etc.
A method should do one thing.

I'm more in favor of keeping it like it is. If a user wants to know the last commandtype/commandframe, they can query it via getLastCommandType etc.

[2018-08-24 08:15] adakitesystems commented on #69
I think you misunderstood me or I didn't explain properly. The user would not receive an int array. The bridge will send the int array with the details and then set `lastCommand` and `lastCommandFrame` appropriately. I will submit a PR soon and you will see what I mean.

[2018-08-24 08:20] JasperGeurtz commented on #69
I misunderstood

But they are already set on per frame basis in the BirdgeUtils. They wont change during the frame afaik so returning them via the bridge might not be useful

[2018-08-24 09:10] adakitesystems commented on #69
You are correct they are set on a per frame basis in BWAPI4J currently. However, that is a bug.

I tested using both a C++ module and C++ client which prove `lastCommand` and `lastCommandFrame` can change mid-frame after a command is issued using the following code in the `onFrame` callback:
[code]
Here is the output: ![lcf](https://user-images.githubusercontent.com/22711643/44576110-faaf2180-a74a

[2018-08-24 09:44] adakitesystems commented on #69
Sorry for the confusion. `lastCommand` and `lastCommandFrame` are updated in BWAPI4J per frame **AND** after each successful command. There is no bug with `lastCommand` and `lastCommandFrame` of which I am currently aware. The current code is correct and will be left as is. Thanks for the help, @JasperGeurtz!

[2018-08-24 09:44] #69 closed

[2018-08-24 19:29] adakitesystems commented on #37
We may have to make `getLastError` a pure JNI command with no caching. `GameImpl::setLastError` gets called for almost every command; even those such as `setScreenPosition`.

[2018-08-24 20:16] #37 closed

[2018-08-31 04:20] adakitesystems opened #71 "Use module interface with vanilla BW"
Credit to @evaned for mentioning the [Java Invocation API](https://docs.oracle.com/javase/8/docs/technotes/guides/jni/spec/invocation.html) with which a JVM can be instantiated in C++. This would allow us to use the module interface of BWAPI instead of the client interface with vanilla BW as we do in OpenBW. The client interface in BWAPI 4.2.0 and earlier is mostly inferior to the module interface

[2018-09-11 05:44] youngmoon01 opened #72 "Could not get the Bridge file for vanilla BW on windows"
This would be a tedious question, but I am not getting the bridge file(.dll) for vanilla BW on windows.

I have successfully got it for OpenBW in linux, and compiled the bot and could run the test bot in openbw.

But for the vaniila BW, strangely, gradle task finished 'successfully' but I can't find the bridge file at the build directory neither at the path below where I could have found the bridg

[2018-09-11 06:14] Jabbo16 commented on #72
Did you compile the Bridge by running `./gradlew buildVanillaBridgeForWindows` ?

Other option its to download Appveyor's artifacts which already include the bridge.

[2018-09-11 07:51] youngmoon01 commented on #72
@Jabbo16
Yes I tried gradlew.bat buildVanillaBridgeForWindows and it didn't produce the bridge file.

Thanks to your comment, I could find the jar file which includes bridge file, and could successfully run test bot with BWAPI launcher in windows environment! :)

[2018-09-11 07:51] #72 closed

[2018-09-11 09:56] adakitesystems commented on #72
Hi, @youngmoon01!

I know this issue is closed but maybe I could offer some information that might be of help if you still would like to compile the bridge yourself. The build system is unfortunately pretty fragile with lack of proper error/exit reporting but luckily still powerful.

The following set of commands work on my system. Note: you may need to run the `gradlew.bat` commands with the defa

[2018-09-13 05:36] HaebeomLee commented on #72
@adakitesystems
Thank you for you detailed instruction to build the bridge file!
But the steps doesn't seem to work for my machine :(
I have run exactly same command in same order, but the bridge file is not built.
I'm not sure what is the problem. I have visual studio 2017, and there was no 'failure' message during those steps..

[2018-09-13 06:00] youngmoon01 commented on #72
@adakitesystems
Thank you for you detailed instruction to build the bridge file!
But the steps doesn't seem to work for my machine :(
I have run exactly same command in same order, but the bridge file is not built.
I'm not sure what is the problem. I have visual studio 2017, and there was no 'failure' message during those steps..

[2018-09-13 10:36] adakitesystems commented on #72
Yes, the build system really needs better error reporting. Either it works or it doesn't. At the moment, all we can do is guess what is going wrong.

Try the following if you don't mind:

1. Verify that you are using the `develop` branch of `https://github.com/OpenBW/BWAPI4J/`.
2. Verify that the Gradle task `generateVsDevCmdBatch` does its job successfully by checking if the task generates the fi

[2018-09-13 10:43] adakitesystems opened #73 "Better error reporting for the C++ build system"
The build system that builds the C++ bridge is not very robust. If something goes wrong, there is a low chance of being able to tell what exactly went wrong. See Issue https://github.com/OpenBW/BWAPI4J/issues/72 as an example. I, personally, also have had trouble building the bridge from a custom terminal such as Git bash for Windows because the Gradle tasks read Windows environment variables. Thi

[2018-09-16 04:39] youngmoon01 commented on #72
@adakitesystems
1. Yes it is 'develop' branch(0.8.2b version)
2. The file exists and it has same string as yours.

Still not sure what is the problem..

[2018-09-17 00:40] adakitesystems commented on #72
@youngmoon01
Strange. At least that file is generated properly. Sorry for your inconvenience.

Can you verify that the "true" file exists on your system? E.g. `C:\Program Files\Microsoft Visual Studio\2017\Community\Common7\Tools\VsDevCmd.bat`? Since the generated batch file merely calls the true file on the system.

At this time, I don't have any more ideas of what could be the problem. Would you

[2018-09-17 00:45] adakitesystems commented on #72
Also, please verify you have CMake installed. I am currently running `cmake version 3.11.4` on Windows.

[2018-09-28 16:14] adakitesystems opened #75 "Possible alternative for VsDevCmd.bat"
Thanks to @Jabbo16 for mentioning this in BWAPI4J Discord:

Currently, we use a Gradle script to determine/guess the user's path to `VsDevCmd.bat` which is a Windows batch file for VS2017 that prepares the command prompt environment to use `MSBuild.exe` and other VS tools. I haven't tested `vswhere` yet but it could be a good replacement.

I consider this to be semi-related to Issue https://github

[2018-09-28 16:19] adakitesystems commented on #75
Specifically, we probably would use `vswhere` to determine the `VsDevCmd.bat` path using something like this: https://github.com/Microsoft/vswhere/wiki/Start-Developer-Command-Prompt.

i.e. We might just use it for `"%%i\Common7\Tools\vsdevcmd.bat"`.

[2018-09-30 17:13] Jabbo16 opened #76 "Exception when calling getTransport on a Unit inside a Bunker"
Latest `develop` has a bug when calling `getTransport` of an `Unit` thats inside a `Bunker`

The bug is in `MobileUnitImpl.java`

[code]

`Bunker`s are no `MobileUnit` so this method throws:

`java.lang.ClassCastException: org.openbw.bwapi4j.unit.Bunker cannot be cast to org.openbw.bwapi4j.unit.MobileUnit`

This impl also differs from the Interface `MobileUnit.java` where `getTransport` correctly

[2018-09-30 17:28] Bytekeeper commented on #76
I think it should be `Loadable` in both cases.

[2018-09-30 17:32] Bytekeeper commented on #76
@Jabbo16 Could you retry?

[2018-09-30 17:37] #35 closed

[2018-09-30 17:54] Jabbo16 commented on #76
it works with `Loadable`, thanks! ❤️

[2018-09-30 17:55] #76 closed, assigned to nobody

[2018-10-09 21:23] adakitesystems opened #77 "Missing draw commands"
Thanks to @JasperGeurtz for mentioning this on BWAPI4J Discord:

(and maybe draw dot)

I assume the draw commands were manually added as needed when BWAPI4J first started. However, manually adding shape methods and their variations is annoying and prone to error. If possible, I recommend using the recently added parser to generate all of the draw commands in Java and C++ by creating classes or enu

[2018-10-09 21:34] JasperGeurtz commented on #77
The `Mouse` variants also seem to be missing

[2018-10-09 21:41] JasperGeurtz commented on #77
Shapes
https://github.com/JasperGeurtz/JBWAPI/blob/master/src/main/java/bwapi/Shape.java

Coordinates
https://github.com/JasperGeurtz/JBWAPI/blob/master/src/main/java/bwapi/Coordinate.java

[2018-10-09 21:47] adakitesystems commented on #77
Thanks for the list of shapes and coord types @JasperGeurtz!

[2018-10-16 23:12] adakitesystems commented on #52
Thanks to @Jabbo16 for providing more details and testing with his bot with which he is currently experiencing degrading effects when running consecutive games.

I'm re-opening this issue for documentation and discussion purposes. BWAPI4J clears three containers before initializing types for consecutive games: https://github.com/OpenBW/BWAPI4J/blob/53c6633235bb4422d98ef52b87295e135601ea1c/BWAPI4J/

[2018-10-21 17:50] Bytekeeper opened #78 "IllegalStateException on Great Barrier Reef"
@Jabbo16  mentioned this on Discord, and I was able to reproduce it.
Using the random seed `1540118558` on `(3)Great Barrier Reef.scx`, the following exception occurs:
[code]

[2018-10-21 19:22] adakitesystems commented on #78
Is this exception being thrown every time or just at random times with this seed? I am not able to reproduce the thrown exception using `TestListenerBwem.java`. I have ran the test bot a few times and it successfully initializes BWEM on GBR each time. The SHA-1 checksum of my local GBR map file is `3506e6d942f9721dc99495a141f41c5555e8eab5`.

[2018-10-21 19:26] Bytekeeper commented on #78
@adakitesystems I can reproduce it fine enough. I also found the problem. `ChokePoint` and `Area` have implementations of equal and hashcode which confuse the `computeDistances` algorithm. I removed them and can no longer reproduce the problem.
(to be more precise:
[code]

[2018-10-21 19:40] #78 closed, assigned to Bytekeeper

[2018-10-25 19:40] #77 closed, assigned to adakitesystems

[2018-10-30 17:01] adakitesystems opened #79 "Update specific data mid-frame for commands?"
With the release of BWAPI4 4.3.0 and improved latency compensation, I've been told it's possible for data to change mid-frame. This is relevant to BWAPI4J since we only update the vast majority of data once per frame.

The following scenario should be verified with BWAPI module and client versions 4.2.0 and 4.3.0 in C++ and BWAPI4J. If the tests corroborate the scenario, a decision should be made

[2018-11-01 17:55] Jabbo16 opened #80 "SpiderMine lacks isBurrowed()"
Even if you cant order a SpiderMine to burrow or unburrow you can still check with `isBurrowed` if the SpiderMine its visible and ready to attack in the original bwapi. In BWAPI4J this method is currently not available in the `SpiderMine.java` class.

[2018-11-01 18:20] #80 closed, assigned to adakitesystems

[2018-11-02 09:27] Jabbo16 opened #81 "Missing UnitCommand"
I noticed some bots use `UnitCommand` for micro and order spam checks but It seems that in BWAPI4J there is only `UnitCommandType` available with `getLastCommand`.

[2018-11-02 20:09] adakitesystems commented on #81
Do you have a specific example? I think `UnitCommand` was intentionally left out because `UnitCommand` is basically `UnitCommandType` + `Order` + `OrderTarget`, etc. I haven't looked at it too closely, though.

[2018-11-02 20:45] dgant commented on #81
UnitCommand reflects what was sent to the game engine via BWAPI. Orders reflect the state of the game engine.

UnitCommands are a nice-to-have, but their functionality can be reproduced by BWAPI4J consumers without the aid of the framework (ie. track what commands you issue).

[2018-11-02 20:50] Jabbo16 commented on #81
Its easier to use UnitCommands than to track orders 😅

[2018-11-02 20:56] adakitesystems commented on #81
Fair enough. I'll look into some time and see what can be done.

[2018-11-03 21:02] Bytekeeper commented on #79
Well updating values in BWAPI4J means essentially partially copying latcom, not?
We could update just the single unit that was given the command - but I don't know if latcom is changing the state of other units within the same frame as well.

[2018-11-03 21:29] adakitesystems commented on #79
That's a good point.

That's true, it might. For example, if an SCV is ordered to gather from a mineral, the SCV's `isGatheringMinerals` will be updated but will the mineral's`isBeingGathered` be updated?

[2018-11-05 19:18] Bytekeeper opened #82 "Unit equals implementation is "bad""
I guess the code is copied from BWMirror, which only compares the `id`s to determine equality.
This is rather bad for BWAPI4J where a type change also results in a new `Unit` object with the same id.

If, for example used as a `Map` key the following code or similar might be used:

    for (Entry<Unit,Something> u: Units.entrySet()) {
    ...u.getKey().getPosition().getDistance(u.getValue().goal).

[2018-11-06 08:03] Jabbo16 commented on #82
I agree, I discovered some problems recently because my maps keys (`Unit`) are not updated when the units morph.

[2018-11-06 08:10] JasperGeurtz commented on #82
Tanks however stay the same class even if their unittype changes (siege/unsiege), so just got to be careful with that.

[2018-11-07 14:24] adakitesystems opened #83 "Create a test for verifying the presence of native method definitions in the bridge"
When marking a method as `native` in Java, our Gradle task `generateJniHeaders` will generate its prototype declaration in a JNI header file for the C++ bridge to include and implement. It would be nice if we could verify that all of our native methods have been at least defined in the bridge somewhere.

Example flow:
1. Scan all JNI header files and parse each method signature. (e.g. files in `BW

[2018-11-08 02:48] adakitesystems opened #85 "Add features to circumvent BWAPI's unit data invalidation?"
Example of a removed feature: https://github.com/OpenBW/BWAPI4J/pull/84/commits/259555eb818b23f24fae505fa9af142ae768fca1

If an enemy unit moves out of vision, BWAPI hides most the unit's data. Such examples are marking its position as `Position::None` or `Position::Unknown` or possibly crashing when trying to access certain data. Should BWAPI4J provide "lastKnownXXXX" data in the `Unit` object or

[2018-11-08 10:12] JasperGeurtz commented on #85
I think it's a good addition to have them in extra separate methods in Unit, almost every bot author will find it useful to track where a unit from the opponent was last seen.

[2018-11-08 13:28] adakitesystems commented on #85
That's a fair argument. Having "lastKnown" data is useful without a doubt. How to provide such data in a useful but extendible way is interesting. I would say the `Unit` is divided into at least three or four parts:
1. Data and their getters (e.g. hitpoints, shields, unit type, etc.)
2. More complex state-observant getters such as `getGroundWeaponCooldown` that considers the game state (e.g. `Zerg

[2018-11-08 15:43] dgant commented on #85
I think it best to do the simplest thing (forward BWAPI's data) and push improvements to the reported data upstream to BWAPI itself.  The handling of previously seen units carries some inherent subjectivity (is the unit's presumed location where it was last seen? moving along the path it was following? what if you see the location later and the unit's not there? what if you can infer that the unit

[2018-11-08 16:08] Bytekeeper commented on #85
All the `lastXYZ` was not useful anyways. Currently units just keep their last state if they're no longer visible (with the exception of isVisible and exists). I kind of like it that way.

Therefore I don't like the removal of `lastSpotted` because it makes any kind of prediction harder. I also don't think it's really subjective to keep the "last known state" in a `Unit`. Especially since it's no

[2018-11-08 16:44] Bytekeeper commented on #82
@JasperGeurtz True, but I think that's "safe". The main problem here is the types that actually change classes. Some code could hold references and not detect that the instance is invalid.

[2018-11-11 14:28] adakitesystems opened #86 "Missing BWMap#hasPower methods"
This can/should be implemented similar to the existing `BW#hasCreep`.

[2018-11-11 14:31] adakitesystems opened #87 "Missing InteractionHandler#resumeGame"

[2018-11-11 14:31] adakitesystems opened #88 "Missing InteractionHandler#restartGame"

[2018-11-11 16:09] #86 closed, assigned to adakitesystems

[2018-11-11 16:09] #87 closed, assigned to adakitesystems

[2018-11-11 16:09] #88 closed, assigned to adakitesystems

[2018-11-15 08:14] RoySRose opened #89 "can't find same function in bwapi4j as unit.getplayer() in bwapi"
My team already has a bot with all the dependencies to BWAPI
We are kind of rebooting the project and found your project.
Glad to see the updates for bwapi4.2.

I was trying to convert the code to meet API of BWAPI4J.
I couldn't find any method that does the same thing as Unit.getplayer() in BWAPI.

Am I missing something?

---added---
import bwapi.DefaultBWListener;
import bwapi.Game;
import bwap

[2018-11-15 09:40] adakitesystems commented on #89
Hi, @RoySRose! If I understand your situation correctly, your team was using [BWMirror](https://github.com/vjurenka/bwmirror) before? Currently, BWAPI4J's API is very different from BWMirror and converting a BWMirror bot to BWAPI4J could be a lot of work depending on the size of your bot's codebase. BWAPI4J has a lot of typesafe features. For example, the `Unit#getPlayer()` is marked as `protected

[2018-11-15 10:15] JasperGeurtz commented on #89
[code]

[2018-11-15 11:54] JasperGeurtz commented on #89
For option 3 from @adakitesystems suggestions, you can look at https://github.com/JasperGeurtz/VioletLily/tree/master/src/main/org/openbw/bwapi4j (shameless plug).
However this is based on an older branch, so you'll still need to update some things probably.

[2018-11-16 02:00] RoySRose commented on #89
Hello, @adakitesystems @JasperGeurtz

Thank you both for kind answer.
Yes. we have used BWMirror. Our bot's code isn't small and has a lot of features in it.

But since
 - we are trying to change the race from Terran to Zerg, we have to take a look at it line by line anyway.
 - Had some speed issues and the advantages of BWAPI4J seemed very tempting to me
 - The last update on BWMirror was about a

[2018-11-16 13:42] adakitesystems commented on #53
I just implemented roughly 88% of the `canMake` commands in the raw interface under the name `UnitCommandSimulation`: https://github.com/OpenBW/BWAPI4J/blob/7345664d647d8f5adbfef798b99da1eeda541755/BWAPI4J/src/main/java/org/openbw/bwapi4j/UnitCommandSimulation.java . This class may be of help with customizing the `canMake` functions by extending this class and overriding its functions.

[2018-11-17 19:56] adakitesystems opened #90 "Equivalent for BWAPI C++'s UnitFilter?"
Thanks to @SonkoMagnus for mentioning the lack of BWAPI C++'s `UnitFilter` equivalent in BWAPI4J. Example:
[code]
where `getClosestUnit` is declared as:
[code]

As per @SonkoMagnus's suggestion, we could use `Predicate` as the equivalent.

[2018-11-17 20:50] Bytekeeper commented on #90
Another option would be Stream style:

    Unit supplyBuilder = u.unitsSortedByDistance()
        .filter(u -> u.isIdle() || u.isGatheringMinerals)
        .first()

Where `unitsSortedByDistance` could also take a maxRadius parameter.

[2018-11-18 13:45] JasperGeurtz commented on #89
1,2) A (terran) good bot written using BWAPI4J is Jabbo's: https://github.com/Jabbo16/Ecgberht
See https://github.com/Jabbo16/Ecgberht/blob/master/src/ecgberht/Ecgberht.java for the entrypoint (main) of the bot
3) BWAPI4J supports BWEM, use
[code]
Regions from BWTA are Area's in BWEM, for the rest they are pretty similar
4) They are pretty similar, but BWEM doesnt require those long startup times

[2018-11-19 05:06] RoySRose commented on #89
@JasperGeurtz, Thank you for so much information!

You've saved a lot of my time:)
I'll start the converting process.

[2018-11-19 10:47] adakitesystems commented on #81
[UnitCommand.java](https://github.com/OpenBW/BWAPI4J/blob/3b92e2cdcb77143213d61ab96bb82d6f7a2ce516/BWAPI4J/src/main/java/org/openbw/bwapi4j/UnitCommand.java) has been implemented in the raw interface. This issue can be closed after `raw` is merged into `develop`.

[2018-11-22 13:18] RoySRose commented on #89
@adakitesystems @JasperGeurtz

I've started converting.

1. There are ways to check if Unit is mine or enemy.
But I can't find if they are neutral.

2. There is PlayerUnit.getUnitsInRadius() to find the List<Unit> that are in a certain radius from a Unit.
But I can't find any method that returns all the List<Unit> that are in a certain radius from a Position.

3. There are two classes related to t

[2018-11-22 16:04] JasperGeurtz commented on #89
1) if the unit is not an instance of a PlayerUnit it is a "neutral"  unit e.g.
[code]
2) You will have to loop trough your units manually and check the distance or make a Pull Request with support added for this method

3) `BWMap` is the map from BWAPI4J e.g. it gives the sizes, the hash and other generic map info
`Map` is the map from the BWEM map analyser that tries to split the map up in Areas,

[2018-12-25 12:14] Jabbo16 opened #93 "LastKnownPosition not updated"
The value for `LastKnownPosition` for units doesnt get updated even with the unit visible and Its always `null`

Example:

`unit.getLastKnownPosition()`

[code]

[2018-12-25 12:16] Jabbo16 commented on #93
Seems like its related to #85

[2019-06-17 02:48] adakitesystems commented on #38
Upgraded to BWAPI v4.4.0 in https://github.com/OpenBW/BWAPI4J/commit/83423a9113bd382c71e35690936e8c62142a2206 which should resolve this. Needs to be tested first.

[2019-06-27 12:21] adakitesystems opened #94 "Look into supporting JDK versions higher than 8"
As mentioned by @ZerGreenOne in BWAPI4J Discord, the BWAPI4J build system fails when building with JDK 11, 12, etc. even when using Gradle v4.10.2